#head{
    &.simple-bg{
        padding: {
            top: 220px;
            bottom: 220px;
        } 
        background-image: url(../image/background.png);
        background-position: center;
        background-size: cover;
        h1{
            color: color('basic', 'white');
        }
    }
    &.simple-left{
        position: relative;
        .item{
            height: 100vh;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .wooshiap{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 9;
            top: 0;
            background-color: rgba($color: color('grey', 'darken-3'), $alpha: 0.5);
            .me{
                height: 100vh;
            }
        }
    }
}