#work{
    &.simple{
        .content{
            margin-bottom: 30px;
            position: relative;
            h1{
                border-left: 1px solid color('yellow', 'base');
                padding: 15px 30px;
                .sec-color{
                    display: inline;
                }
            }
            svg{
                margin-bottom: 15px;
                margin-top: 50px;
                color: color('basic', 'white');
            }
            h2{
                color: red;
                color: color('yellow', 'base');
                margin: 20px 0 10px;
            }
        }
        .bg-mage{
            background-image: url("../image/SeparatorLogo.png");
            background-position: right;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding: {
                top: 50px;
                bottom: 50px;
            }
        }
    }
    &.item-contents{
        padding: {
            top: 150px;
        }
        .head-work{
            padding: {
                top: 50px;
                bottom: 100px;
            }
        }
        .items-work{
            .item{
                padding-bottom: 50px;
                h2{
                    color: color('yellow', 'base');
                }
            }
        }
    }
}