#fullpage
    .section.panel(style='background-image: url(./assets/images/work/colorful-ice-cream.png)')
    .section
        .slide.panel(style='background-image: url(./assets/images/work/white-ice-cream.png)')
        .slide.panel(style='background-image: url(./assets/images/work/ice-cream-detail/ice-cream.png)')
    .section
        .container.container-padding
            .row
                .col.s12
                    h2 Colorful ice cream

            .row.flow-text
                .col.s12.l4.project-meta
                    p
                        span.grey-text.text-lighten-1 Client
                        br
                        | Jesse
                    p
                        span.grey-text.text-lighten-1 Category
                        br
                        | Graphical design
                    p
                        span.grey-text.text-lighten-1 Period
                        br
                        | 2013&ndash;2014
                .col.s12.l8.text-indent
                    p.
                        You’ll open one likeness — created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
                    p.
                        &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.

            .row
                .col.s12
                    .divider

            .row.flow-text
                .col.s12
                    | Share this: on
                    a.underline(href='https://www.facebook.com/sharer/sharer.php?u=http://vava.pimmey.com/%23/work/fullscreen-sections') facebook
                    | ,
                    a.underline(href='http://twitter.com/share?text=Vava — Colorful ice cream&url=http://vava.pimmey.com/%23/work/fullscreen-sections&hashtags=vava') twitter
                    | ,
                    a.underline(href='https://plus.google.com/share?url=http://vava.pimmey.com/%23/work/fullscreen-sections') google+
                    | .

            .row
                .col.s12
                    .divider

            .row.projects-nav.flow-text
                .col.s12.l6
                    span.grey-text.text-lighten-1 Previous project
                    br
                    a.underline(href='#/work/left-fixed') &larr; Bottle III
                .col.s12.l6.right-align
                    span.grey-text.text-lighten-1 Next project
                    br
                    a.underline(href='#/work/pagepiling') Lamp II &rarr;

script.
    var $body = $('body');
    $body.addClass('zero-nav-height');
    if ($body.hasClass('dark')) {
        $('.navbar-fixed').css('mix-blend-mode', 'difference');
    }

    $.when(
        $.getScript('./libs/fullpage/scrolloverflow.min.js'),
        $.getScript('./libs/fullpage/jquery.fullpage.js'),
        $.Deferred(function (deferred) {
            $(deferred.resolve);
        })
    ).done(function () {
        $('#fullpage').fullpage({
            navigation: true,
            slidesNavPosition: 'top',
            scrollOverflow: true
        });
        $.fn.fullpage.reBuild();
    });