// -- Font -- //
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');



@import 'components/materialize-colors';
@import 'components/variables';

/*---------------------------------------------------------------------------------------

1 Typography improvements

-----------------------------------------------------------------------------------------*/
@import 'components/typography';


/*---------------------------------------------------------------------------------------

3 Separator improvements

-----------------------------------------------------------------------------------------*/
@import 'components/separator';


/*---------------------------------------------------------------------------------------

4 Basic style

-----------------------------------------------------------------------------------------*/
@import 'components/basic';


/*---------------------------------------------------------------------------------------

5 Basic style

-----------------------------------------------------------------------------------------*/
@import 'components/button';


/*---------------------------------------------------------------------------------------

5 Header

-----------------------------------------------------------------------------------------*/
@import 'components/header';


/*---------------------------------------------------------------------------------------

5 Figure

-----------------------------------------------------------------------------------------*/
@import 'components/figure';


/*---------------------------------------------------------------------------------------

5 Footer

-----------------------------------------------------------------------------------------*/
@import 'components/footer';



body{
    background-color: color('grey', 'darken-3');
    font-family: 'Raleway', 'sans-serif';
    .blus.blur{
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
}




/*---------------------------------------------------------------------------------------

5 Header

-----------------------------------------------------------------------------------------*/
@import 'section/head';



/*---------------------------------------------------------------------------------------

5 Header

-----------------------------------------------------------------------------------------*/
@import 'section/project';



/*---------------------------------------------------------------------------------------

5 Header

-----------------------------------------------------------------------------------------*/
@import 'section/work';



/*---------------------------------------------------------------------------------------

5 Skill

-----------------------------------------------------------------------------------------*/
@import 'section/skill';



/*---------------------------------------------------------------------------------------

5 Skill

-----------------------------------------------------------------------------------------*/
@import 'section/testimonial';



/*---------------------------------------------------------------------------------------

5 Skill

-----------------------------------------------------------------------------------------*/
@import 'section/about';




#coba{
    .wokkko{
        background-color: red;
        height: 100vh ;
    }
}

#news-basic{
    .article-news{
        position: relative;
        .title{
            height: 100vh;
        }
        @media #{$medium-and-up} {
            .title{
                position: fixed;
                height: 100%;
                background-image: url('../image/SeparatorLogo.png');
                background-position: left;
                background-attachment: fixed;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .content-news{
        .item{
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid rgba(color('basic', 'white'), 0.2);
            h2{
                color: color('basic', 'white');
            }
            p{
                margin: {
                    top: 30px;
                    bottom: 20px;
                }
            }
            img{
                width: 100%;
            }
        }
        @media #{$medium-and-up} {
            padding-top: 200px;
        }
    }
}

#pricing{
    .pricing-table{
        ul{
            padding: 0;
            li{
                list-style: none;
            }
        }
    }
}

#single-basic{
    padding-top: 200px;
    .article-news{
        .title{
            width: 100%;
            height: 100%;
            img{
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#work-animated-background{
    .area{
        background: color('grey', 'darken-3');  
        width: 100%;
        height:100vh;
        .circles{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            li{
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: animate 25s linear infinite;
                bottom: -150px;
                &:nth-child(1){
                    left: 25%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 0s;
                }
                &:nth-child(2){
                    left: 10%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 2s;
                    animation-duration: 12s;
                }
                &:nth-child(3){
                    left: 70%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 4s;
                }
                &:nth-child(4){
                    left: 40%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 0s;
                    animation-duration: 18s;
                }
                &:nth-child(5){
                    left: 85%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 0s;
                }
            }
        }
        .wave{
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }
    .article{
        position: relative;
        background-color: color('basic', 'white');
        color: color('grey', 'darken-3');
        p{
            color: color('grey', 'darken-3');
        }
        .work-item{
            margin-bottom: 30px;
            figure{
                margin: 0;
            }
            .image-item{
                img{
                    width: 100%;
                }
            }
        }
        .wave{
            bottom: 0;
            position: absolute;
            width: 100%;
            svg {
                fill: color('grey', 'darken-3');
            }
        }
    }
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}