.container
    .row
        .col.s12
            .parallax-container
                .parallax
                    img(src='./assets/images/news/pink.jpg', alt='Pink')

    .row
        .col.s12
            h2 Pink

    .row.flow-text
        .col.s12.l4.project-meta
            p
                span.grey-text.text-lighten-1 Author
                br
                img.author-picture.hide-on-small-and-down(src='./assets/images/team/pete.jpg', alt='Pete')
                | Pete
            p
                span.grey-text.text-lighten-1 Date
                br
                time(datetime='2016-08-28T21:00') August 28#[sup th]
            p
                span.grey-text.text-lighten-1 Categories
                br
                | #colors #personal
        .col.s12.l8.text-indent
            p.
                You’ll open one likeness — created us herb was. Image two is winged you’re morning
                the greater. Bring you shall called may good shall earth third kind. Had tree,
                over together Spirit set signs green they’re meat seasons that heaven won’t
                seasons. Herb face.
            p.
                &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                be and itself grass shall stars Be us second under land over open and.

            blockquote.floating-blockquote.right.center-align.
                &ldquo;Grass set great firmament dominion, there open were night fourth grass.&rdquo;

            p.
                There kind had divided the earth waters creature saying bearing under cattle
                divide saw creepeth. Night. Grass set great firmament dominion, there open were
                night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                you very. Deep divide behold.


    .row
        .col.s12
            .divider

    .row
        .col.s12
            iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/134934525&color=000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')

    .row
        .col.s12
            .divider

    .row.flow-text
        .col.s12
            | Share this: on
            a.underline(href='https://www.facebook.com/sharer/sharer.php?u=http://vava.pimmey.com/%23/news/audio-post') facebook
            | ,
            a.underline(href='http://twitter.com/share?text=Vava — Pink&url=http://vava.pimmey.com/%23/news/audio-post&hashtags=vava') twitter
            | ,
            a.underline(href='https://plus.google.com/share?url=http://vava.pimmey.com/%23/news/audio-post') google+
            | .

    .row
        .col.s12
            .divider

    .row.projects-nav.flow-text
        .col.s12.l6
            span.grey-text.text-lighten-1 Previous article
            br
            a.underline(href='#/news/video-post') &larr; Colorful lady
        .col.s12.l6.right-align
            span.grey-text.text-lighten-1 Next article
            br
            a.underline(href='#/news/right-fixed-post') Bicycle &rarr;

script.
    $('.parallax').parallax();