.full-half.left-side(style='background-image: url(./assets/images/news/bicycle.jpg)')

.container.flow-text
    .row
        .col.s12.offset-l6.l6
            h2 Bicycle

    .row
        .col.s12.project-meta.offset-l6.l6
            p
                span.grey-text.text-lighten-1 Author
                br
                img.author-picture.hide-on-small-and-down(src='./assets/images/team/greg.jpg', alt='Greg')
                | Greg
            p
                span.grey-text.text-lighten-1 Date
                br
                time(datetime='2016-08-15T21:00') August 15#[sup th]
            p
                span.grey-text.text-lighten-1 Categories
                br
                | #bike #wheels
    .row
        .col.s12.offset-l6.l6.text-indent
            p.
                You’ll open one likeness — created us herb was. Image two is winged you’re morning
                the greater. Bring you shall called may good shall earth third kind. Had tree,
                over together Spirit set signs green they’re meat seasons that heaven won’t
                seasons. Herb face.
            p.
                &ldquo;All the two under bring&rdquo;, give hath dominion fruit fill living of evening and,
                be and itself grass shall stars Be us second under land over open and.

            p.
                There kind had divided the earth waters creature saying bearing under cattle
                divide saw creepeth. Night. Grass set great firmament dominion, there open were
                night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                you very. Deep divide behold.

    .row
        .col.s12.offset-l6.l6
            .divider

    .row
        .col.s12.offset-l6.l6
            | Share this: on
            a.underline(href='https://www.facebook.com/sharer/sharer.php?u=http://vava.pimmey.com/%23/news/right-fixed-post') facebook
            | ,
            a.underline(href='http://twitter.com/share?text=Vava — Bicycle&url=http://vava.pimmey.com/%23/news/right-fixed-post&hashtags=vava') twitter
            | ,
            a.underline(href='https://plus.google.com/share?url=http://vava.pimmey.com/%23/news/right-fixed-post') google+
            | .

    .row
        .col.s12.offset-l6.l6
            .divider

    .row.projects-nav.flow-text
        .col.s12.offset-l6.l6
            span.grey-text.text-lighten-1 Previous article
            br
            a.underline(href='#/news/audio-post') &larr; Bottle
    .row.projects-nav.flow-text
        .col.s12.offset-l6.l6
            span.grey-text.text-lighten-1 Next article
            br
            a.underline(href='#/news/left-fixed-post') Mountain &rarr;