//- layout.pug
extends ../template/layout.pug


block main
    #pricing
        .container
            .row
                .col-md-8
                    h1.t-big PRICING:
                    .separator-big
                    p
                        | WE GOT THE BEST OFFERS FOR YOU. CHOOSE YOUR PLAN ACCORDING TO YOUR NEEDS.
        .container.pricing-table
            .row
                .col-md-4
                    h3 Beginner
                    h2 19
                    ul
                        li 1 WEBSITES
                        li 100 PAGES
                        li DOMAIN REGISTRATION
                        li FTP INSTALLATION



    footer
        .container
            .row
                .col-md-12
                    p.   
                        © 1999—2016 Violine