//- layout.pug
extends ../template/layout.pug


block main
    #project.basic
        .container
            .row
                .col-md-12
                    h2.t-big FULL POST   
                        span.sec-color
                            | :
                    .separator-small
                    h3.display-5 KNOW THE LATEST NEWS ON DESIGN AND DEVELOPMENT. CATCH UP WITH THE WORLD.
                .col-md-12.image-article
                    img(src="image/project1.jpg", alt="lorem")
                .col-md-12.article
                    h1.t-big
                        | HOW TO STAND OUT WHILE FITTING IN.
                    ul.desc-up
                        li Author: Kurt Polo 
                        li Date: 26 December, 2016 
                        li In: Business
                    p 
                        | As others have said both are valid and will do the trick. I'm not 100% convinced that they are identical though. If you have some style cascading going on then they could in theory produce different results since they are effectively overriding different values. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.
                    p
                        | Suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque repellendus dolores nemo deleniti quaerat dicta delectus odit a perspiciatis similique necessitatibus, reiciendis possimus fugiat dolorem!
                    p   
                        | As others have said both are valid and will do the trick. I'm not 100% convinced that they are identical though. If you have some style cascading going on then they could in theory produce different results since they are effectively overriding different values. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi laudantium, autem, quasi eligendi possimus suscipit fuga quod unde molestias accusantium praesentium officia asperiores, ipsa itaque. Doloribus ipsum neque nihil magni labore. Voluptates at, temporibus quam eos iure ullam.
                    
                    .tags
                        h3.t-medium Tags 
                            span.sec-color .
                        .separator-small
                        ul
                            li Simple
                            li Design
                            li creativivo
                            li bolodis


    footer
        .container
            .row
                .col-md-12
                    p.   
                        © 1999—2016 Violine