//- layout.pug
extends ../template/layout.pug


block main
    #single-basic
        .container
            .row.article-news
                .col-md-6
                    .title.img-flex
                        h1.t-medium Lorem ipsum dolor sit 
                            span.sec-color .
                        .separator-small
                        img(src="image/sample1.jpg", alt="")
                .col-md-6.content-news
                    h2.t-small Client 
                        span.sec-color .
                    p Jane Bim
                    br
                    h2.t-small Category 
                        span.sec-color . 
                    p Packaging
                    br
                    h2.t-small Period 
                        span.sec-color . 
                    p 2014–2015
                    br
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quae. Tempora voluptatibus quos ea? Quibusdam expedita nobis quia. Cumque dolorum quae, accusamus temporibus voluptas quaerat quos nostrum error quo rerum!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quae. Tempora voluptatibus quos ea? Quibusdam expedita nobis quia. Cumque dolorum quae, accusamus temporibus voluptas quaerat quos nostrum error quo rerum!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quae. Tempora voluptatibus quos ea? Quibusdam expedita nobis quia. Cumque dolorum quae, accusamus temporibus voluptas quaerat quos nostrum error quo rerum!
                    .tags
                        h3.t-small Tags 
                            span.sec-color .
                        .separator-small
                        ul
                            li Simple
                            li Design
                            li creativivo
                            li bolodis
                    .footer                     
                        p.   
                            © 1999—2016 Violine