//- layout.pug
extends ../template/layout.pug


block main
    #coba
        .container 
            .row
                .col-md-6.vcenter.wokkko
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consectetur recusandae beatae reiciendis accusamus sint quasi nostrum assumenda obcaecati omnis, vel voluptatum pariatur, illo eaque odit, ad veniam porro ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, earum tenetur non exercitationem vel, tempore odit, enim suscipit explicabo ex eveniet placeat autem voluptatum quo ullam ipsum nostrum dolor a!

    

    footer
        .container
            .row
                .col-md-12
                    p.   
                        © 1999—2016 Violine