//- layout.pug
extends ../template/layout.pug


block main
    #work.animated-background
        .area.vcenter
            .title
                h1.t-medium.gra Lorem ipsum
                p Lorem ipsum dolor sit amet
            ul.circles
                li
                li
                li
                li
                li
        .article.wrap
            .container
                .row
                    .col-md-12
                        blockquote.blockquote.text-center
                            p.display-6 Dream making the world a 
                                span.sec-color better place
                            .blockquote-footer Alga
                                cite(title="Isma Wulandari") Kharisma
                .row.wrap.items
                    - const item = {"18" : "Summer", "15" : "Awesome", "13":"Creative ", "14":"Creative ", "16":"Creative ", "17":"Creative "};
                    for n, i in item
                        .col-md-6.item.img-flex
                            img(src="image/girls/girl-"+ i +".jpg", alt="")
                            .content
                                p Lorem ipsum dolor
                                h3.sec-color.t-small= n
                                
    footer
        .container
            .row
                .col-md-12
                    p.   
                        © 1999—2016 Violine