- var isHome = true;

.hero
    canvas#waves
    h1 We create gorgeous and functional #[span.nobr state-of-the-art] digital solutions

.container
    section
        .row
            .col.s12
                h2 Selected projects
        .row.blocks
            .col.s12.l6
                .row
                    a.col.s12(href='#/work/project-showcase')
                        .rectangle(style='background-image: url(./assets/images/work/vase-wooden.jpg)')
                            .content
                                h3.tlt Vase
                .row
                    a.col.s12(href='#/work/gallery')
                        .rectangle(style='background-image: url(./assets/images/work/bottle-gradient-2.jpg)')
                            .content
                                h3.tlt Bottle

            a.col.s12.l6(href='#/work/right-fixed')
                .rectangle-vertical(style='background-image: url(./assets/images/work/coo-coo-clock.png)')
                    .content
                        h3.tlt Coo-coo
        .row
            .col.s12
                a(href='#/work-2-columns').flow-text.underline.grey-text.lighten-4.view-all View all projects

    section.expertise.flow-text
        .row
            .col.s12
                h2 Our expertise
        .row
            .col.s12.l4.margin-on-medium-and-down
                i.icon-basic-cloud
                .expertise-title Cloud solutions
                .expertise-description.grey-text.text-lighten-1 Lights great darkness fourth bring seed fruit together.

            .col.s12.l4.margin-on-medium-and-down
                i.icon-basic-accelerator
                .expertise-title Performance optimizations
                .expertise-description.grey-text.text-lighten-1 Our life whose meat morning had image stars.

            .col.s12.l4
                i.icon-basic-target
                .expertise-title Targeted clients
                .expertise-description.grey-text.text-lighten-1 Of male gathering gathering grass you’re gathering.
        .row
            .col.s12
                a(href='#/about').flow-text.underline.grey-text.lighten-4.view-all View all services and meet the team

    include ../components/_pricing-tables.pug

    section.blocks.news-grid
        .row
            .col.s12
                h2 Recent news
        .row
            article
                a.col.s12.l6.margin-on-medium-and-down(href='#/news/video-post')
                    .meta.grey-text.text-lighten-1
                        time(datetime='2016-09-01T21:00') September 1#[sup st]
                        | &nbsp;&mdash;&nbsp;
                        span by Annie
                    h3 Colorful lady
                    .rectangle.white-text(style='background-image: url(./assets/images/news/colorful-lady.jpg)')

            article
                a.col.s12.l6(href='#/news/audio-post')
                    .meta.grey-text.text-lighten-1
                        time(datetime='2016-08-28T21:00') August 28#[sup th]
                        | &nbsp;&mdash;&nbsp;
                        span by Pete
                    h3 Pink
                    .rectangle.white-text(style='background-image: url(./assets/images/news/pink.jpg)')
        .row
            .col.s12
                a(href='#/news-grid').flow-text.underline.grey-text.lighten-4.view-all Read all news

    section
        .row
            .col.s12
                h2 Get in touch
        .row
            .col.s12.l6
                p.flow-text
                    | Whether you like to start a new project, discuss a brilliant investment idea or just have a
                    | small-talk chat, feel free to
                    a.underline.ajax-link.nobr(href='#/contact') contact us
                    | .


script.
    var $body = $('body');
    $body.addClass('zero-nav-height');

    $.getScript('./assets/js/vava-waves.js')
        .done(function (script, status) {
            //console.log('vava-waves script status: ', status);
        })
        .fail(function (error) {
            //console.error('vava-waves script error: ', error);
        });

    $.getScript('./assets/js/textillate.js')
        .done(function (script, status) {
            //console.log('textillate script status: ', status);
        })
        .fail(function (error) {
            //console.error('textillate script error: ', error);
        });

    $('.tooltipped').tooltip({delay: 50});
