.container.blocks.three-col
    .row
        a.col.s12.l8.margin-on-medium-and-down(href='#/work/project-showcase')
            .rectangle-8-of-12(style='background-image: url(./assets/images/work/vase-wooden.jpg)')
                .content
                    h3.tlt Vase

        .col.s12.l4.double-col
            .row
                a.col.s12(href='#/work/fullscreen-sections')
                    .rectangle(style='background-image: url(./assets/images/work/colorful-ice-cream.png)')
                        .content.medium-content
                            h3.tlt Colorful ice cream
            .row
                a.col.s12(href='#/work/pagepiling')
                    .rectangle(style='background-image: url(./assets/images/work/lamp-2.png)')
                        .content.medium-content
                            h3.tlt Lamp II

    .row
        .col.s12.l4
            .row
                a.col.s12(href='#/work/left-fixed')
                    .rectangle(style='background-image: url(./assets/images/work/bottle-gradient.jpg)')
                        .content.medium-content
                            h3.tlt Bottle III
            .row
                a.col.s12.margin-on-medium-and-down(href='#/work/fullscreen-sections')
                    .rectangle(style='background-image: url(./assets/images/work/colorful-ice-cream.png)')
                        .content.medium-content
                            h3.tlt Colorful ice cream

        a.col.s12.l4.margin-on-medium-and-down(href='#/work/right-fixed')
            .rectangle-vertical(style='background-image: url(./assets/images/work/coo-coo-clock.png)')
                .content
                    h3.tlt Coo-coo

        a.col.s12.l4(href='#/work/gallery')
            .rectangle-vertical(style='background-image: url(./assets/images/work/bottle-gradient-2.jpg)')
                .content
                    h3.tlt Bottle

script.
    $.getScript('./assets/js/textillate.js')
        .done(function (script, status) {
            //console.log('textillate script status: ', status);
        })
        .fail(function (error) {
            //console.error('textillate script error: ', error);
        });

    function resizeRectangle () {
        var $rectangle = $('.rectangle-8-of-12');
        var $doubleCol = $('.double-col');

        if (window.innerWidth > 992) {
            $rectangle.css({
                height: $doubleCol.height(),
                paddingBottom: 0
            });
        } else {
            $rectangle.css({
                height: 0,
                paddingBottom: 'calc(120% + 1.5rem)'
            });
        }
    }

    resizeRectangle();

    $(window).on('resize', resizeRectangle);