.container.one-col
    .row
        a.col.s12.l8(href='#/work/project-showcase')
            figure
                img.responsive-img(src='./assets/images/work/vase-wooden.jpg', alt='Wooden vase')
                figcaption.right-figcaption
                    h3 Vase
                    p.flow-text A wooden vase concept ordered by Green Lantern Inc.

    .row
        a.col.s12.l8.offset-l4(href='#/work/fullscreen-sections')
            figure
                img.responsive-img(src='./assets/images/work/colorful-ice-cream.png', alt='Colorful ice cream')
                figcaption.left-figcaption
                    h3 Colorful<br>ice cream
                    p.flow-text A third-edition ice-cream production for Heisenberg.

    .row
        a.col.s12.l8(href='#/work/gallery')
            figure
                img.responsive-img(src='./assets/images/work/bottle-gradient-2.jpg', alt='Bottle')
                figcaption.right-figcaption
                    h3 Bottle
                    p.flow-text Exploring gradient variants for this gorgeous bottle.
    .row
        a.col.s12.l8.offset-l4(href='#/work/pagepiling')
            figure
                img.responsive-img(src='./assets/images/work/lamp-2.png', alt='Lamp II')
                figcaption.left-figcaption
                    h3 Lamp II
                    p.flow-text Continuing our journey in light design with 2#[sup nd] lamp edition.

script.
    $('figure img').on({
        'mouseenter': function () {
            $(this).css('z-index', 10);
        },
        'mouseleave': function () {
            $(this).css('z-index', 8);
        }
    })