.navbar-fixed
    nav(class=menu)
        .nav-wrapper
            .container
                .row
                    .col.s12
                        if (menu === 'classic')
                            // Classic navigation, visible on desktop only
                            ul.hidden.hide-on-med-and-down
                                li: a.dropdown-button(data-activates='dropdown-index', data-beloworigin='true', data-hover='true') Index
                                li: a.dropdown-button(data-activates='dropdown-work', data-beloworigin='true', data-hover='true') Work
                                li: a.ajax-link(href='#/about') About
                                li: a.ajax-link(href='#/prices') Prices
                                li: a.dropdown-button(data-activates='dropdown-news', data-beloworigin='true', data-hover='true') News
                                li: a.ajax-link(href='#/contact') Contact

                            #dropdown-index.dropdown-content
                                ul
                                    li: a.index-link.underline(href='index-classic-menu-light.html') Light &amp; classic
                                    li: a.index-link.underline(href='index-classic-menu-dark.html') Dark &amp; classic
                                    li: a.index-link.underline(href='index-overlay-menu-light.html') Light &amp; overlay
                                    li: a.index-link.underline(href='index-overlay-menu-dark.html') Dark &amp; overlay

                            // Dropdown for Work category
                            #dropdown-work.dropdown-content
                                ul
                                    li: a.ajax-link(href='#/work-1-column') 1 Column
                                    li: a.ajax-link(href='#/work-2-columns') 2 Columns
                                    li: a.ajax-link(href='#/work-3-columns') 3 Columns
                                    li: a.ajax-link(href='#/work-4-columns') 4 Columns

                            // Dropdown for News category
                            #dropdown-news.dropdown-content
                                ul
                                    li: a.ajax-link(href='#/news-grid') Grid
                                    li: a.ajax-link(href='#/news-alternative') Alternative

                            // Medium/mobile slide out navigation
                            ul#slide-out.side-nav
                                // Index side nav menu section
                                li.no-padding
                                    ul.collapsible.collapsible-accordion
                                        li
                                            a.collapsible-header Index
                                            .collapsible-body
                                                ul.collapsible-body-list
                                                    li: a(href='index-classic-menu-light.html') Light &amp; classic
                                                    li: a(href='index-classic-menu-dark.html') Dark &amp; classic
                                                    li: a(href='index-overlay-menu-light.html') Light &amp; overlay
                                                    li: a(href='index-overlay-menu-dark.html') Dark &amp; overlay

                                // Work side nav menu section
                                li.no-padding
                                    ul.collapsible.collapsible-accordion
                                        li
                                            a.collapsible-header Work
                                            .collapsible-body
                                                ul.collapsible-body-list
                                                    li: a.ajax-link(href='#/work-1-column') 1 Column
                                                    li: a.ajax-link(href='#/work-2-columns') 2 Columns
                                                    li: a.ajax-link(href='#/work-3-columns') 3 Columns
                                                    li: a.ajax-link(href='#/work-4-columns') 4 Columns

                                li: a.ajax-link(href='#/about') About
                                li: a.ajax-link(href='#/prices') Prices

                                // News side nav menu section
                                li.no-padding
                                    ul.collapsible.collapsible-accordion
                                        li
                                            a.collapsible-header News
                                            .collapsible-body
                                                ul.collapsible-body-list
                                                    li: a.ajax-link(href='#/news-grid') Grid
                                                    li: a.ajax-link(href='#/news-alternative') Alternative

                                li: a.ajax-link(href='#/contact') Contact

                        else if (menu === 'overlay')
                            .nav-icon-container
                                .nav-icon

                        // Logo/brand name
                        span.right.hide-on-med-and-down
                            span.logo Vava

                        span.left.show-on-medium-and-down.hide-on-large-only
                            span.logo Vava

                        if (menu === 'classic')
                            span.right.show-on-medium-and-down.hide-on-large-only
                                a#sidenav-toggle.sidenav-toggle(href='#', data-activates='slide-out') Menu

if (menu === 'overlay')
    .nav-overlay#nav-overlay
        .nav-overlay-content
            .container.flow-text
                .row
                    .col.s12.l3.offset-l2
                        h3 Index
                        ul
                            li: a.index-link.underline(href='index-classic-menu-light.html') Light &amp; classic
                            li: a.index-link.underline(href='index-classic-menu-dark.html') Dark &amp; classic
                            li: a.index-link.underline(href='index-overlay-menu-light.html') Light &amp; overlay
                            li: a.index-link.underline(href='index-overlay-menu-dark.html') Dark &amp; overlay
                        h3 Work
                        ul
                            li: a.ajax-link.underline(href='#/work-1-column') 1 Column
                            li: a.ajax-link.underline(href='#/work-2-columns') 2 Columns
                            li: a.ajax-link.underline(href='#/work-3-columns') 3 Columns
                            li: a.ajax-link.underline(href='#/work-4-columns') 4 Columns

                    .col.s12.l3
                        h3 Projects
                        ul
                            li: a.ajax-link.underline(href='#/work/project-showcase') Project showcase
                            li: a.ajax-link.underline(href='#/work/gallery') Gallery
                            li: a.ajax-link.underline(href='#/work/right-fixed') Right fixed
                            li: a.ajax-link.underline(href='#/work/left-fixed') Left fixed
                            li: a.ajax-link.underline(href='#/work/fullscreen-sections') Fullscreen sections
                            li: a.ajax-link.underline(href='#/work/pagepiling') Pagepiling
                        a.ajax-link.underline(href='#/about'): h3 About
                        br
                        a.ajax-link.underline(href='#/prices'): h3 Prices

                    .col.s12.l3
                        h3 News
                        ul
                            li: a.ajax-link.underline(href='#/news-grid') Grid
                            li: a.ajax-link.underline(href='#/news-alternative') Alternative
                        h3 Articles
                        ul
                            li: a.ajax-link.underline(href='#/news/video-post') Video
                            li: a.ajax-link.underline(href='#/news/audio-post') Audio
                            li: a.ajax-link.underline(href='#/news/right-fixed-post') Right fixed
                            li: a.ajax-link.underline(href='#/news/left-fixed-post') Left fixed
                        a.ajax-link.underline(href='#/contact'): h3 Contact