.team {
    .rhombus-clip {
        @include prefixer(clip-path, polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%), webkit spec);

        &:hover {
            @include prefixer(clip-path, polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%), webkit spec);
        }
    }

    .hiring {
        background: color('grey', 'lighten-5');
    }

    .title {
        font-size: 75%;

        @media #{$small-and-down} {
            font-size: 90%;
        }
    }

    @media #{$medium-and-down} {
        text-align: center;
    }
}

.page-about {
    .expertise {
        .row:not(:first-of-type) {
            margin-bottom: 5rem;

            @media #{$medium-and-down} {
                margin-bottom: 2rem;
            }
        }
    }
}

.expertise {
    i {
        display: block;
        margin-bottom: 1.5rem;
        font-size: 7rem;

        @media #{$medium-and-down} {
            margin-bottom: .5rem;
        }
    }

    .expertise-description {
        font-size: 75%;

        @media #{$small-and-down} {
            font-size: 90%;
        }
    }

    @media #{$medium-and-down} {
        text-align: center;
    }
}

.philosophy {
    .tabs {
        height: auto;
        background-color: transparent;

        .tab {
            height: auto;
            letter-spacing: normal;
            color: $black;
            text-transform: none;

            h5 {
                @media #{$small-and-down} {
                    display: none;
                }
            }

            .philosophy-number {
                @media #{$large-and-up} {
                    display: none;
                }
            }

            a {
                color: color('grey', 'lighten-1');

                &.active,
                &:hover {
                    color: $black;
                }
            }
        }
    }

    .tab-contents {
        h5 {
            display: none;

            @media #{$small-and-down} {
                display: block;
                text-align: center;
            }
        }
    }

    .indicator {
        height: 3px;
        background-color: $black;
    }
}
