@mixin social-link($network, $color) {
    &.#{$network}:hover {
        background: $color;
    }
}

.page-contact {
    .input-field label {
        left: 0;
        color: $black;
    }

    input[type=text],
    input[type=email],
    input[type=email],
    textarea.materialize-textarea {
        border-bottom-color: $black;
    }

    .input-field input[type=text]:focus:not([readonly]),
    .input-field input[type=email]:focus,
    .input-field input[type=email]:focus:not([readonly]),
    input[type=email]:focus,
    input[type=email]:focus:not([readonly]),
    textarea.materialize-textarea:focus,
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom-color: $black;
        box-shadow: none;

        + label {
            color: $black;
        }
    }

    .input-field input[type=text].valid,
    .input-field input[type=email].valid,
    textarea.materialize-textarea.valid {
        border-bottom-color: $black;
        box-shadow: none;
    }

    .input-field input[type=text].invalid,
    .input-field input[type=email].invalid,
    textarea.materialize-textarea.invalid {
        border-bottom-color: $black;
        box-shadow: none;
    }

    .input-field .prefix.active {
        color: $black;
    }

    address {
        margin: 1em 0;
        font-style: normal;
    }

    form {
        padding: 2rem;
        background: color('grey', 'lighten-5');
    }

    .social {
        .network {
            @include transition(background .4s $ease-out-circ);
            @include social-link(facebook, $facebook);
            @include social-link(twitter, $twitter);
            @include social-link(dribbble, $dribbble);
            @include social-link(github, $github);
            @include social-link(vk, $vk);
            @include social-link(googleplus, $googleplus);
            display: block;
            padding: 4rem 0;

            @media #{$medium-and-down} {
                padding: 3rem 0;
            }

            @media #{$small-and-down} {
                padding: 2rem 0;
            }

            &:hover {
                color: $white;
            }
        }
    }

    .visit-us {
        @media #{$medium-and-down} {
            text-align: center;
        }
    }
}
