.demos {
    h1 {
        margin-top: 4rem;
        margin-bottom: 0;

        + p {
            margin-top: 0;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .current-page {
        &::before,
        &::after {
            display: none;
        }
    }

    .demo-link {
        display: block;
        margin-bottom: 2rem;
    }

    a:hover img {
        opacity: .5;
    }

    .screens {
        @include transition(all .75s $ease-out-circ);
        @include transform(translate3d(0, 300px, 1px));
        opacity: 0;

        &.loaded {
            @include transform(translate3d(0, 0, 1px));
            opacity: 1;
        }
    }
}
