[class*='page-work-'],
[class*='page-news-'] {
    .text-indent p {
        margin: 0;

        &:not(:first-of-type) {
            text-indent: 2rem;
        }
    }

    .project-meta p:first-of-type {
        margin-top: 0;
    }

    .divider {
        margin: 5rem 0;

        &.modest {
            margin: 1.5rem 0;
        }

        @media #{$medium-and-down} {
            margin: 3.5rem 0;
        }

        @media #{$small-and-down} {
            margin: 2rem 0;
        }
    }

    .parallax-container:hover img {
        @include filter(grayscale(0));
    }

    blockquote {
        font-size: 2rem;
        border-left: 0;

        @media #{$small-and-down} {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }

    .floating-blockquote,
    .floating-figure {
        width: 50%;
        padding: 2rem;
    }

    .floating-blockquote {
        font-size: 2rem;
        font-weight: 700;

        @media #{$small-and-down} {
            padding: 1rem;
            font-size: 1.5rem;
        }
    }

    .mdash-ul li::before {
        color: color('grey', 'lighten-2');
        content: '— ';
    }

    .author-picture {
        @include transition(all .2s $ease-out-circ);
        @include prefixer(clip-path, polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%), webkit spec);
        position: absolute;
        width: 30px;
        margin-top: -2px;
        margin-left: -35px;

        &:hover {
            @include prefixer(clip-path, polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%), webkit spec);
            width: 60px;
            margin-top: -16px;
            margin-left: -52px;
        }
    }
}

.full-half {
    @include transition(all .75s $ease-out-circ);
    @include filter(grayscale(100));
    position: fixed;
    top: 0;
    left: 0;
    width: 47.5%;
    height: 100%;

    &:hover {
        @include filter(grayscale(0));
    }

    &.left-side {
        left: 0;
    }

    &.right-side {
        right: 0;
        left: auto;
    }

    @media #{$medium-and-down} {
        position: relative;
        width: 100%;
        padding-bottom: 50%;
    }
}

.full-half,
.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-background {
    background: $white;
}

.page-work-pagepiling {
    overflow: hidden;
}
