$color: $white;
$background: #0f0f0f;
$alternative-dark-color: color('grey', 'darken-4');
$hero-h1-color: color('grey', 'lighten-4');

.dark {
    color: $color;
    background: $background;

    a {
        color: $color;

        &.underline {
            border-bottom-color: transparentize($color, .75);

            &:hover {
                border-bottom-color: $color;
            }
        }
    }

    .divider {
        background-color: $alternative-dark-color;
    }

    .curtains {
        background: $alternative-dark-color;
    }

    .current-page {
        &::before {
            border-top-color: $color;
        }

        &::after {
            border-bottom-color: $color;
        }

        &.index-link::before {
            border-top-color: transparentize($color, .5);
        }

        &.index-link::after {
            border-bottom-color: transparentize($color, .5);
        }
    }

    .navbar-fixed {
        nav {
            &:hover {
                background: transparentize($background, .05);
            }

            .current-page {
                &::before {
                    border-top-color: $color;
                }

                &::after {
                    border-bottom-color: $color;
                }

                &.index-link::before {
                    border-top-color: transparentize($color, .5);
                }

                &.index-link::after {
                    border-bottom-color: transparentize($color, .5);
                }
            }

            ul:not(.side-nav):not(.collapsible-accordion):not(.collapsible-body-list) {
                a {

                    color: $color;
                    border-bottom: 1px solid transparentize($color, .75);

                    &:hover {
                        border-bottom-color: $color;
                    }
                }
            }

            .logo,
            .sidenav-toggle {
                color: $color;
            }
        }
    }

    .side-nav {
        background: $background;

        .collapsible-body {
            background: $background;
        }
    }

    .dropdown-content {
        ul li {
            background: $background;

            &:hover {
                background: $alternative-dark-color;
            }
        }
    }

    figcaption {
        color: $background;
        border: 0;
    }

    .team .hiring {
        background: $alternative-dark-color;
    }

    .btn,
    .btn-large {
        color: $background;
        background: $color;
    }

    &[class*='page-news'] {
        .blocks a {
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }

    .news-grid.blocks a {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    &.page-contact {
        form {
            background: $alternative-dark-color;
        }

        .input-field label {
            color: transparentize($white, .2);
        }

        input[type=text],
        input[type=email],
        input[type=email],
        textarea.materialize-textarea {
            border-bottom-color: transparentize($white, .2);
        }

        .input-field input[type=text]:focus:not([readonly]),
        .input-field input[type=email]:focus,
        .input-field input[type=email]:focus:not([readonly]),
        input[type=email]:focus,
        input[type=email]:focus:not([readonly]),
        textarea.materialize-textarea:focus,
        textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom-color: transparentize($white, .2);

            + label {
                color: transparentize($white, .2);
            }
        }

        .input-field input[type=text].valid,
        .input-field input[type=email].valid,
        textarea.materialize-textarea.valid {
            border-bottom-color: transparentize($white, .2);
        }

        .input-field input[type=text].invalid,
        .input-field input[type=email].invalid,
        textarea.materialize-textarea.invalid {
            border-bottom-color: transparentize($white, .2);
        }

        .input-field .prefix.active {
            color: transparentize($white, .2);
        }
    }

    table.highlight>tbody>tr:hover {
        background: $alternative-dark-color;
    }

    .panel-background {
        background: $background;
    }

    .nav-icon,
    .nav-icon::after,
    .nav-icon::before {
        background-color: $color;
    }

    .nav-icon.transformed {
        background-color: transparent;
    }

    .nav-overlay {
        background: transparentize($alternative-dark-color, .3);
    }

    .hero h1 {
        color: $hero-h1-color;
    }

    .pace {
        .pace-activity {
            border-top-color: $color;
            border-left-color: $color;
        }
    }
}
