.dropdown-content {
    min-width: 200px;
    margin-left: -1rem;
    box-shadow: none;

    ul:not(.side-nav):not(.collapsible-accordion):not(.collapsible-body-list) li {
        margin-left: 0 !important;

        a {
            display: block !important;
            padding-left: 1rem;
            line-height: 4rem;
            border: 0 !important;
        }
    }

    .current-page::after,
    .current-page::before {
        top: 1rem !important;
        left: 1rem !important;
    }
}

.dropdown-button {
    cursor: default;
}
