#fullpage {
    .fp-controlArrow {
        top: auto;
        bottom: 20px;

        &.fp-prev {
            left: 20px;
            border-right-color: $black;
            border-width: 18.5px 14px 18.5px 0;
        }

        &.fp-next {
            right: 20px;
            border-left-color: $black;
            border-width: 18.5px 0 18.5px 14px;
        }
    }
}

.container-padding {
    padding: 180px 0 150px;

    @media #{$medium-and-down} {
        padding: 130px 0 75px;
    }

    @media #{$small-and-down} {
        padding: 80px 0 50px;
    }
}
