.nav-icon-container {
    @include user-select(none);
    @include transform(translate3d(0, 0, 0));
    @include transition(all .5s $ease-out-circ);
    position: relative;
    top: 13px;
    right: 7px;
    z-index: 999;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &.hidden {
        @include transform(translate3d(120px, 0, 0));
    }

    @media #{$medium-and-down} {
        float: right;
    }

    @media #{$medium-only} {
        margin-top: .75rem;
    }

    @media #{$small-and-down} {
        margin-top: .35rem;
    }
}

.nav-icon {
    @include transition(background-color .2s $icon-easing);
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: $icon-line-width;
    height: $icon-line-height;
    margin-top: -1px;
    margin-left: -($icon-line-width / 2);
    background-color: $icon-line-color;

    &.transformed {
        background-color: transparent;

        &::after {
            @include transform(rotate(45deg));
        }

        &::before {
            @include transform(rotate(-45deg));
        }
    }
}

.nav-icon::after,
.nav-icon::before {
    @include transition(all .2s $icon-easing);
    position: absolute;
    display: block;
    width: $icon-line-width;
    height: $icon-line-height;
    background-color: $icon-line-color;
    content: '';
}

.nav-icon::after {
    top: 6px;
}

.nav-icon::before {
    top: -6px;
}

.nav-icon-container:hover .nav-icon::after {
    @include transition(all .2s $icon-easing);
    top: 10px;
}

.nav-icon-container:hover .nav-icon::before {
    @include transition(all .2s $icon-easing);
    top: -10px;
}

.nav-icon.transformed::after,
.nav-icon.transformed::before {
    @include transform-origin(50% 50%);
    @include transition(all .15s $icon-easing);
    top: 1px;
    left: -1px;
    width: 26px;
}

.nav-icon-container:hover .nav-icon.transformed::after,
.nav-icon-container:hover .nav-icon.transformed::before {
    @include transition(all .15s $icon-easing);
    top: 1px;
    left: -4px;
    width: 32px;
}
