a {
    color: $black;

    &.underline {
        @include transition(border-bottom-color .5s $ease-out-circ);
        border-bottom: 1px solid transparentize($black, .75);

        &:hover {
            border-bottom-color: $black;
        }
    }
}
