.pace {
    @include user-select(none);
    pointer-events: none;

    .pace-activity {
        @include animation(pace-spinner 400ms linear infinite);
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2000;
        display: block;
        width: 14px;
        height: 14px;
        border: solid 2px transparent;
        border-top-color: $black;
        border-left-color: $black;
        border-radius: 10px;
    }

    .pace-progress-inner {
        box-shadow: none;
    }

    @media #{$medium-and-down} {
        .pace-activity {
            right: 50%;
            margin-right: -7px;
        }
    }
}

@include keyframes(pace-spinner) {
    0% {
        @include transform(rotate(0deg));
    }

    100% {
        @include transform(rotate(360deg));
    }
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -125px 0 0 -125px;
}

.curtains {
    @include transition(left .75s $ease-out-circ);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 800;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: color('grey', 'lighten-5');
    will-change: left;
}
