doctype html
html(lang='en')

    include components/_head.pug

    block vars
        - var bodyClass = '' // empty or dark
        - var menu = 'classic' // classic or overlay

    body.loading(class=bodyClass)
        // Navigation
        include layout/_nav.pug

        // Main container where all the pages are going to be loaded
        main#main

        // Footer
        include layout/_footer.pug

        // Spinner
        include layout/_spinner.pug

        include components/_scripts.pug