doctype html
html(lang='en')

    include mixins/_demo-page.pug
    include components/_head.pug

    body.loading.grey.lighten-4.demos
        .pace#pace
            .pace-activity

        .container
                .row
                    .col.s12.l8.offset-l2.center
                        h1 Vava
                        p.flow-text.
                            This theme is a perfect combination of modern design and incredible easiness of use. Beautiful
                            animations accompany gorgeous and extra-readable typography. Showcase your projects with simple
                            CSS blocks, perfectly aligned to each other. Take advantage of all the components Vava has to offer.

                .screens#screens
                    .row
                        .col.s12
                            h2 Index pages
                    .row
                        +demo-page('light', 'classic')
                        +demo-page('dark', 'classic')
                        +demo-page('light', 'overlay')
                        +demo-page('dark', 'overlay')

                    .row
                        .col.s12
                            h2 Work pages
                    .row
                        +demo-page('light', 'overlay', '#/work-1-column', 'work-1-column')
                        +demo-page('dark', 'overlay', '#/work-1-column', 'work-1-column')
                        +demo-page('light', 'overlay', '#/work-2-columns', 'work-2-columns')
                        +demo-page('dark', 'overlay', '#/work-3-columns', 'work-3-columns')
                        +demo-page('light', 'overlay', '#/work-4-columns', 'work-4-columns')

                    .row
                        .col.s12
                            h2 Project pages
                    .row
                        +demo-page('light', 'overlay', '#/work/project-showcase', 'project-showcase')
                        +demo-page('dark', 'overlay', '#/work/gallery', 'project-gallery')
                        +demo-page('light', 'overlay', '#/work/right-fixed', 'project-right-fixed')
                        +demo-page('dark', 'overlay', '#/work/left-fixed', 'project-left-fixed')
                        +demo-page('light', 'overlay', '#/work/fullscreen-sections', 'project-fullscreen')
                        +demo-page('dark', 'overlay', '#/work/pagepiling', 'project-pagepiling')

                    .row
                        .col.s12
                            h2 About, prices &amp; contact
                    .row
                        +demo-page('dark', 'overlay', '#/about', 'about')
                        +demo-page('light', 'overlay', '#/prices', 'prices')
                        +demo-page('light', 'overlay', '#/contact', 'contact')

                    .row
                        .col.s12
                            h2 News pages
                    .row
                        +demo-page('light', 'overlay', '#/news-grid', 'news-grid')
                        +demo-page('dark', 'overlay', '#/news-alternative', 'news-alternative')

                    .row
                        .col.s12
                            h2 Articles
                    .row
                        +demo-page('dark', 'overlay', '#/news/video-post', 'article-video')
                        +demo-page('light', 'overlay', '#/news/audio-post', 'article-audio')
                        +demo-page('dark', 'overlay', '#/news/left-fixed-post', 'article-left-fixed')
                        +demo-page('light', 'overlay', '#/news/right-fixed-post', 'article-right-fixed')

                    .row
                        .col.s12
                            h2 404 error
                    .row
                        +demo-page('dark', 'overlay', '#/404', '404')

                    .row
                        .col.s12
                            p.flow-text.mega-padding.white.center
                                a.underline(href='https://themeforest.net/item/vava-minimalistic-multipurpose-portfolio-template/17954177?ref=pimmey') Purchase now
        footer
            .container
                .row
                    .col.s12.grey-text.text-lighten-1.center
                        | &copy;&nbsp;
                        a.underline.grey-text(href='http://themeforest.net/user/pimmey?ref=pimmey') pimmey

        include components/_scripts.pug