
    
#header
    .container
        .row
            .col-md-12
                a.hamburger-button(href="")
                    span
                    span
                    span
                    span
                h1.gra VL


.overlay
    nav.menu 
        ul
            li 
                a(href="#") Home
            li 
                a(href="#") Products
            li 
                a(href="#") Blog
            li 
                a(href="#") Contact