// JavaSript Files
// Query
script(src="js/jquery.min.js")
// font Awesome
script(src="js/all.js")
// OWL Slider
script(src="js/owl.carousel.min.js")
// Bootstrap
script(src="js/bootstrap.min.js")

// filter
script(src="js/woo-filter.js")
// Animation
script(src="js/woo-animation.js")
//Script
script(src="js/woo-script.js")
