/*---------------------------------------------------------------------------------------

Basic

-----------------------------------------------------------------------------------------*/


p{
    color: color('basic', 'white');
}
.sec-color{
    color: color('yellow', 'base');
}

h1{
    color: color('basic', 'white');
}

/*-- selection --*/
::-moz-selection { 
    color: color('yellow', 'base');
    background: color('grey', 'darken-3');
}

::selection {
    color: color('yellow', 'base');
    background: color('grey', 'darken-3');
}


/*-- Gradient Font --*/
.gra{
    text-transform: uppercase;
    background: linear-gradient(to right, color('yellow', 'base') 0%, color('orange', 'darken-4') 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*-- Vertical Center --*/
.vcenter {
    display: flex;
    align-items: center;
}


/*-- Image Responsive Styling --*/
.img-flex{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    img {
        opacity: 1;
        display: block;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

/*-- Warp div Styling --*/
.wrap{
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
.m-wrap{
    padding: {
        top: 50px;
        bottom: 50px;
    }
}
.s-wrap{
    padding: {
        top: 30px;
        bottom: 30px;
    }
}

.button-white, .button-sec-color {
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-white{
    background-color: rgba($color: color('basic', 'white'), $alpha: 0.5);
    color: color('yellow', 'base');
}
.button-sec-color{
    background-color: rgba($color: color('yellow', 'base'), $alpha: 0.5);
    color: color('basic', 'white');
}