/*---------------------------------------------------------------------------------------

Color

-----------------------------------------------------------------------------------------*/

$white  : #ffffff;
$orange : #E14E2F;
$yellow : #ffd700;
$black  : #101010;
$dark   : #000000;
